body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #FFFFFF;
  color: #255,255,255;
  text-align: center;
}

header {
  background: #FFFFFF;
  padding: 25px;
}

header h1 {
  margin: 0;
  color: #FFFFFF;
}

.social a {
  text-decoration: none;
  margin: 10px;
  padding: 10px 18px;
  border-radius: 20px;
  color: white;
  display: inline-block;
  font-weight: bold;
}

.wa {
  background: #FFFFFF;
}

.ig {
  background: #FFFFFF;
}

.hero {
  padding: 50px 20px;
  background: #FFFFFF;
}

.shop-btn {
  background: #ef476f;
  color: white;
  padding: 14px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.shop {
  padding: 40px 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background: white;
  width: 250px;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.buy {
  background: #06d6a0;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  border-radius: 20px;
}

.about, .contact {
  background: #fff1ca;
  padding: 40px 20px;
}

footer {
  background: #222;
  color: white;
  padding: 15px;
}

/* MOBILE FRIENDLY */
@media (max-width: 600px) {
  .products {
    flex-direction: column;
    align-items: center;
  }
}
